doctype html
html(lang='en')
  head
    title Greetings from a sample Node.js/MQTT server built using the Mosca library
    meta(content='website', property='og:type')
    meta(content='https://cdn.scalingo.com/homepage/assets/fb-33a6a93ddbf90bfdae57407481aa05a4.png', property='og:image')
    meta(content='Deploying your own Node.js/Mosca app on Scalingo is as easy as pie: JUST CLICK THIS BUTTON! It will be up in less than 2 minutes!', property='og:description')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel="shortcut icon" href="https://scalingo.com/favicon.ico" type="image/vnd.microsoft.icon")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,500', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css', rel='stylesheet')
    link(href='/assets/style.css', rel='stylesheet')
    script(src='/assets/script.js')
  body
    .container.hero
      .love
        img.scalingo-logo(alt='Scalingo', src='https://scalingo.com/logo-lightgrey.svg')
        img.heart-logo(alt='love', src='https://cdn.scalingo.com/documentation/heart.png')
        img.tech-logo(alt='Mosca', src='https://cdn.scalingo.com/documentation/technologies/mosca-logo.png')
      h1
        | Greetings from a sample Node.js/MQTT
        br
        | server built using the Mosca library.
      h2
        span(style='display:block;')
          span.one-liner Deploying your own Node.js/Mosca app on Scalingo
          |  is as easy as pie:
        a.btn(href='https://my.scalingo.com/deploy?source=https://github.com/Scalingo/sample-node-mosca') Just click this button!
        span(style='display:block;') It will be up in less than 2 minutes!
      p
        | The code of this sample lives&nbsp;
        a(href='https://github.com/Scalingo/sample-node-mosca') on GitHub
        | . You can find&nbsp;
        a(href='http://samples.scalingo.com') more samples here
        | .
    .container
      block content
    footer
      .container
        p
          span.one-liner
            a(href='https://scalingo.com') Scalingo
            span.
              is the best Platform as a Service on the market:
          span no server to install, no dependencies to install, just push your code!

